<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- 输出格式 -->
  <!-- ErrorLayout变量：错误信息的日志布局 -->
  <variable name="ErrMsg" value="${longdate} [${level}] - ${message} ${exception:format=ToString} ${stacktrace} "/>
  <!-- BasicLayout变量：基本的日志布局 -->
  <variable name="BasicLayout" value="${longdate} [${level}] - ${message} ${onexception:inner=${ErrMsg}}"/>
  <!-- ErrorNoticeLayout变量：异常通知的日志布局 -->
  <!--<variable name="ErrorNoticeLayout" value="##${threadid}##${exception}##${message}##${exception:format=StackTrace}"/>-->

  <targets>
    <!-- DefaultLog目标：通用默认的输出目标，采用AsyncWrapper、RetryingWrapper，输出类型为File，
      文件最大10M，最多100个文件，文件路径为fileName，按照日期命名，日志布局采用BasicLayout -->
    <target name="DefaultLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000" maxArchiveFiles="100"
        fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}.log"
                layout="${BasicLayout}" />
      </target>
    </target>

    <!-- ErrorLog目标：通用默认的输出目标，采用AsyncWrapper、RetryingWrapper，输出类型为File，
      文件最大10M，文件路径为fileName，日志布局采用ErrorLayout-->
    <target name="ErrorLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000"
        fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}_Error.log"
         layout="${ErrMsg}" />
      </target>
    </target>
    <!-- ErrorNoticeLog目标：通用默认的输出目标，采用AsyncWrapper，输出类型为LogReceiverService，
      输出路径为endpointAddress，日志布局采用ErrorNoticeLayout-->
    <!--<target name="ErrorNoticeLog" xsi:type="AsyncWrapper">
      <target xsi:type="LogReceiverService"
      endpointAddress="http://localhost:7169/NLogReceiveWCFService.svc" >
        <parameter layout="${ErrorNoticeLayout}" name="Layout" type="System.Type"/>
      </target>
    </target>-->

  </targets>
  <rules>
    <!-- 接收所有的Error及更高级的日志，记录到ErrorLog target -->
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />
    <!-- 接收所有的Error及更高级的日志，记录到ErrorNoticeLog target -->
    <!--<logger name="*" minlevel="Error" writeTo="ErrorNoticeLog" />-->
    <!-- 接收所有的Debug及更高级的日志，记录到DefaultLog target，在新版本的LogWriter中，需要将name配置为* -->
    <logger name="DefaultLog" minlevel="Debug" writeTo="DefaultLog" />
  </rules>
</nlog>
